.p-20{
    padding:20px
}
.p-10{
    padding:10px
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #952DAF;
}

.my-pagination /deep/ .ngx-pagination .current {
    padding: 0.2rem 0.7rem;
    background: #952DAF ;
}
